<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Picker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD9B6E8422033F9200FF4AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9B6E9822033F9200FF4AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9B6EA322033F9200FF4AE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
